.wrap{
    width:900px;
    position:relative;
    top:200px;
    left:100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin:50% 50%;
}
.cube{
    position:relative;
    width:150px;
    height:150px;
    margin-left:50%;
    left:-75px;
    transition:all 1s ease-in;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.front{
    transform:rotateY(0deg) translateZ(75px);
    background-color: rgba(122, 121, 125, 0.5);
}
.back{
    transform:rotateY(90deg) translateZ(75px);
    background-color: rgba(62, 125, 32, 0.5);
}
.left{
    transform:rotateY(180deg) translateZ(75px);
    background-color: rgba(46, 67, 125, 0.5);
}
.right{
    transform:rotateY(270deg) translateZ(75px);
    background-color: rgba(122, 121, 125, 0.5);
}
.top{
    transform:rotateX(90deg) translateZ(75px);
    background-color: rgba(122, 121, 125, 0.5);
}
.bottom{
    transform:rotateX(270deg) translateZ(75px);
    background-color: rgba(122, 121, 125, 0.5);
}
.square{
    width:150px;
    height:150px;
    position:absolute;
    text-align: center;
    line-height: 150px;
    border: 1px solid #000;
}
