*{
    margin: 0;
    padding: 0;
}
.clearFix{
    zoom: 1;
}
.clearFix:after{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
    float: left;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: "Microsoft YaHei Font";
}
ul{
    margin:0;
}
.head{
    max-width: 100%;
    min-width: 360px;
    height: 40px;
    line-height: 40px;
    background: #001e3b;
    position: relative;
}
.head .log{
    height: 40px;
    width: 65px;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    position: absolute;
    left: 110px;
}
.head ul{
    width: 400px;
    height: 40px;
    margin:0;
    position: absolute;
    left: 170px;
}
.head ul li{
    width: 20%;
    height: 100%;
    text-align: center;
    background: #001e3b;
}
.head ul li:hover{
    background: #fff;
}

.head ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
}
.head ul li a:hover{
    color: #1F3857;
}
.head ul .active:hover{
    background: #001e3b;
}
.head ul .active a:hover{
    color: #fff;
}
.head-name{
    padding:0 10px;
     float: right;

 }
.head-name a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

/*
*/
.aw_head{
    width: 100%;
    height: 150px;
    padding-top: 2%;
}
.aw_head img{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.aw_head span{
    display: inline-block;
    padding:0 10px;
    font-size: 3rem;
    font-weight: 900;
}
.aw_con{
    width: 100%;
}
.aw_con ul{
    margin: 0;
}
.aw_con .aw_left{
    width: 20%;
}
.aw_left .aw_rol{
    width: 90%;
    height: 240px;
    border-radius: 5px;
    overflow: hidden;
}
.aw_left .aw_rol li{
    display: inline-block;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    line-height:40px;
    background: #2a5b8c;
}
.aw_left .aw_rol .active{
    background: #2b5883;
}
.aw_left .aw_rol li a {
    color: #fff;
    font-size: 1.5rem;
}
.aw_left .aw_rol li:hover{
    background: #2b5883;
}

.aw_left .aw_rol span:hover{
    background: #1F3857;
}



.aw_center .aw_cont{
    width: 96%;
    margin-bottom: 10px;
}
.aw_con .aw_center{
    width: 60%;
}
.aw_cont form{
    width: 70%;
    float: left;
}
#comment{
    border-radius: 0;
    background: #2b5883;
    color: #fff;
    border: 1px solid #1F3857;
}
.aw_cont .login{
    width: 30%;
    height: 74px;
    background: #2b5883;
    border: 1px solid #1F3857;
    border-left: none;
    border-right:none;
    float: right;

}
.aw_cont .login ul li{
    float: left;
    width: 33.333%;
    height: 73px;
    border-right: 1px solid #1F3857;
}
.aw_cont .aw_login{
    width: 100%;
    height: 35px;
    background: #2b5883;
    margin-top: -15px;
    border: 1px solid #1F3857;
    border-top:none;
    display: none;
}
.aw_cont .aw_login span{
    padding:2px 20px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    background: #439bf3;
    border: 1px solid #1F3857;
    border-radius: 3px;
    margin-right: 5px;
    float: right;
    margin-top:0.4%;
}
.aw_cont .aw_login span:hover{
    background: #3F91E5;
}




.aw_center .matter{
    width: 96%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

}
.matter .matter-head{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #1F3857;
    background: #2b5883;
}

.matter .matter-head .mat-left{
    float: left;
    margin-left: 10px;
}
.matter .matter-head .mat-right{
    float: right;
    margin-right: 10px;
}
.matter .matter-head .mat-right span{
    margin:0 10px;
}
.matter .matter-trends{
    width: 100%;
}
.matter .matter-trends li{
    margin-bottom: 10px;
    height:100%;
    width: 100%;
    border-radius: 5px;
    background: #2b5883;
    overflow: hidden;
}
.matter .matter-trends .personalFile{
    background: #2b5883;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.matter .matter-trends .personalFile img{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    float: left;
}
.matter .matter-trends .personalFile div{
    float: left;
}
.matter .matter-trends .personalFile div p{
    display: inline-block;
    padding:0 10px;
    font-size: 1.8rem;
    font-weight: 700;
    margin:0;
    color: #fff;
}
.matter .matter-trends .personalFile div span{
    display: inline-block;
    padding:0 10px;
    font-size: 1.5rem;
    color: #fff;
}
.matter .matter-trends .matter_file{
    width: 100%;
}
.matter .matter-trends .matter_file span{
    display: inline-block;
    padding:0 10px;
    font-size: 1.8rem;
    font-weight: 700;
    margin:10px 0 0 0;
    color: #fff;
}
.matter .matter-trends .criticism{
    width: 100%;
    height: 70px;
    padding:0 10px;
    margin-top: 10px;
    background: #224b73;
    border-top: 1px solid #1F3857;
}
.matter .matter-trends .criticism ul{
    width: 100%;
    height: 30px;
}
.matter .matter-trends .criticism ul li{
    width: 10%;
    height: 100%;
    margin: 0;
    text-align: center;
    background: #224b73;
}
.matter .matter-trends .criticism ul li a{
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.matter .matter-trends .criticism ul li a:hover{
    padding: 4px 6px;
    border-radius: 3px;
    background: #265380;
}
/*评论框*/
.matter .matter-trends .criticism .cri_comment{
    width: 90%;
    height: 35px;
    max-height: 35px;
    border-radius: 0;
    background: #265380;
    outline:none;
    border: 1px solid #1F4266;
    color: #fff;
}
.matter .matter-trends .criticism .cri_com{
    width: 10%;
    height: 35px;
    float: right;
    margin-top:-50px;
    border: 1px solid #1F4266;
    background: #265380;
}

.aw_con .aw_right{
    width: 20%;
    height:100px;
    background: #2b5883;
}
