*{
    padding: 0;
    margin: 0;
}
.clearFix{
    zoom: 1;
}
.clearFix:after{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
}
.center{
    width: 800px;
   /* height: 450px;*/
    margin:100px auto;
    position: relative;
}
#roll{
    width: 800px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}
#roll li{

}
.l{
    width: 500px;
}
.carousel-inner{
    width: 500px;
    height: 375px;
}
.item{
    width: 500px;
    height: 375px;
}
.item>img{
    display: inline-block;
    width: 800px;
    height: 375px;
}