<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>虎嗅网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
    <meta name="author" content="虎嗅网">
    <meta name="keywords" content="科技资讯,商业评论,明星公司,动态,宏观,趋势,创业,精选,有料,干货,有用,细节,内幕">
    <meta name="description" content="聚合优质的创新信息与人群，捕获精选|深度|犀利的商业科技资讯。在虎嗅，不错过互联网的每个重要时刻。">
    <meta name="base-static-url" content="https://statics.huxiu.com/w/mini">
    <link rel="stylesheet" type="text/css" href="_index_/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/build.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/right.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/login.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/vip-icon.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/nanoscroller.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/cy.css">
    <link rel="stylesheet" type="text/css" href="_index_/css/o.css">    <!--[if lt IE 9]>
    <script src="_index_/scripts/respond.min.js"></script>
    <script src="_index_/scripts/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="76x76" href="https://statics.huxiu.com/w/mini/static_2015/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://statics.huxiu.com/w/mini/static_2015/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://statics.huxiu.com/w/mini/static_2015/img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://statics.huxiu.com/w/mini/static_2015/img/apple-touch-icon-180x180.png" />
    <link rel="icon" href="https://statics.huxiu.com/w/mini/static_2015/img/favicon.ico">
    <link rel="icon" href="https://statics.huxiu.com/w/mini/static_2015/img/favicon.ico" type="image/x-icon" />
